body {
  margin: 0px;
  text-align: center;
  font-family: "Georgia", "sans-serif";
  color: #111;
  background-color: #d7d7d7; }

.header, .footer {
  background-color: white; }

.header .logo {
  width: 285px;
  margin: 30px; }

.footer .logo {
  width: 200px;
  margin: 20px; }

.banner img {
  width: 100%; }

h1 {
  font-family: "Montserrat", "sans-serif";
  font-size: 30px;
  padding: 0px;
  margin: 0px;
  letter-spacing: 3px;
  color: #555;
  margin: 55px; }

.cat-list {
  width: 100%; }

.cat {
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
  margin: 0px;
  vertical-align: top;
  text-align: left; }
  .cat:nth-child(odd) {
    padding-right: 15px; }
  .cat:nth-child(even) {
    padding-left: 15px; }
  .cat img {
    width: 100%;
    border: none; }
    .cat img:hover {
      filter: grayscale(70%);
      -webkit-filter: brightness(70%);
      transition: all 1s ease;
      -webkit-transition: all 1s ease; }
  .cat a {
    text-decoration: none;
    color: #111; }
    .cat a h2 {
      font-family: "Montserrat", font_sans;
      font-size: 24px;
      font-weight: normal;
      box-sizing: border-box;
      padding: 5px 35px 5px 35px; }
      .cat a h2:hover {
        text-decoration: underline; }
  .cat p {
    font-size: 16px;
    padding: 5px 35px 15px 35px; }

@media only screen and (max-width: 600px) {
  .header .logo {
    width: 200px; }

  .cat {
    width: 100%; }
    .cat:nth-child(odd) {
      padding-right: 0px; }
    .cat:nth-child(even) {
      padding-left: 0px; } }

/*# sourceMappingURL=lemonade.css.map */
