//colors
$color_background: #d7d7d7;
$color_font: #111;
$color_heading: #555;

//fonts
$font_heading: 'Montserrat';
$font_content: 'Georgia';
$font_sans: 'sans-serif';

//logo
$logo_large: 285px;
$logo_medium: 200px;

@mixin even(){
  &:nth-child(even) {
    @content
  }
}
@mixin odd(){
  &:nth-child(odd) {
    @content
  }
}

body{
	margin: 0px;
	text-align: center;
	font-family: $font_content, $font_sans; 
	color: $color_font;
	background-color: $color_background;
}
.header, .footer{
	background-color: white;
}
.header .logo{
	width: $logo_large;
	margin: 30px;
}
.footer .logo{
	width: $logo_medium;
	margin: 20px;
}
.banner img{
	width: 100%;
}
h1{
	font-family: $font_heading, $font_sans;
	font-size: 30px;
	padding: 0px;
	margin:0px;
	letter-spacing: 3px;
	color: $color_heading;
	margin: 55px;
}
.cat-list{
	width: 100%;
}
.cat{
	width: 50%;
	display: inline-block;
	box-sizing: border-box;
	margin:0px;
	vertical-align:top;
	text-align: left;
	@include odd(){
		padding-right:15px;
	}
	@include even(){
		padding-left:15px;
	}
	img{
		width:100%;
		border: none;
		&:hover{
			filter: grayscale(70%);
			-webkit-filter: brightness(70%);
			transition: all 1s ease;
			-webkit-transition: all 1s ease;
		}		
	}
	a{
		text-decoration: none;
		color: $color_font;
		h2{
			font-family: $font_heading, font_sans;
			font-size: 24px;
			font-weight: normal;
			box-sizing: border-box;
			padding: 5px 35px 5px 35px;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	p{
		font-size: 16px;
		padding: 5px 35px 15px 35px;
	}
}
@media only screen and(max-width: 600px) {
	.header .logo{
		width: $logo_medium;
	}
	.cat {
		width: 100%;
		@include odd(){
			padding-right: 0px;
		}
		@include even(){
			padding-left: 0px;
		}
	}
}
